.about {
  margin-top: 100px;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-gap: 40px;
  /* align-items: center; */
}
.about h2 {
  font-size: 3em;
}
.about h3 {
  font-size: 2em;
  font-weight: 400;
  margin-bottom: 20px;
}
.btn {
  display: inline-block;
  background: #297cd4;
  padding: 10px 16px;
  border-radius: 10px;
  margin-top: 20px;
  font-weight: 500;
  transition: 0.5s all ease-out;
}
.btn:hover {
  transform: scale(1.1);
}
.avatar {
  margin: 0 auto;
  background-image: url("https://avatars.githubusercontent.com/u/73625660?v=4");
  width: 250px;
  height: 250px;
  background-size: cover;
  background-position: top center;
  border-radius: 50%;
  transition: all 1s;
}
.avatar:hover {
  transform: rotate(90deg);
}
table {
  width: 100%;
  border-collapse: collapse;
}
ul {
  margin-top: 20px;
  list-style: none;
  width: 100%;
}
ul li {
  text-align: center;
  margin-top: 5px;
}
ul li a {
  border-bottom: 3px solid transparent;
}
ul li a:hover {
  border-color: white;
}
.carousel {
}
.carousel div {
  margin: 0 auto;
}
.title {
  text-align: center;
  border: 0.1cm solid white;
}
