.details{
  margin-bottom: 100px;
}
.details h2 {
  font-size: 3.5em;
  margin-top: 80px;
}
.details h3 {
  font-size: 2em;
  font-weight: 400;
  margin-bottom: 40px;
}
.innerHtml {
  margin-top: 40px;
}
.featured {
  margin-bottom: 40px;
}
.btn {
  display: inline-block;
  background: #297cd4;
  padding: 10px 16px;
  border-radius: 10px;
  margin-top: 20px;
  font-weight: 500;
  margin-right: 5px;
}
